<!-- <p>add-course works!</p>
<form [formGroup]="addCourseform" (ngSubmit)="addCourse()">
    <div>
        <label for="name">Nmme:</label>
        <input id="email" formControlName="email">

        @if(addCourseform.get('name')?.invalid && addCourseform.get('name')?.touched)
        {<div>
            שם הוא שדה חובה.
        </div>}
    </div>


    <div>
        <label for="description">Description:</label>
        <input id="description" type="text" formControlName="description">
        @if(addCourseform.get('discride')?.invalid && addCourseform.get('discride')?.touched)
        {<div>
            תאור הוא שדה חובה.
        </div>}

    </div>


    <button type="submit" [disabled]="addCourseform.invalid">Login</button>
</form>
   -->