<form [formGroup]="addCourseform" (ngSubmit)="addCourse()">
    <div>
        <label for="title">Title:</label>
        <input id="title" formControlName="title">

        @if(addCourseform.get('title')?.invalid && addCourseform.get('title')?.touched)
        {<div>
            שם הוא שדה חובה.
        </div>}
    </div>


    <div>
        <label for="description">Description:</label>
        <input id="description" type="text" formControlName="description">
        @if(addCourseform.get('description')?.invalid && addCourseform.get('description')?.touched)
        {<div>
            תאור הוא שדה חובה.
        </div>}

    </div>

    <button type="submit" [disabled]="addCourseform.invalid">add Course</button>
</form>

  