
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <label>Name:</label>
    <input type="text" formControlName="name"   required>
    @if(registerForm.get('name')?.invalid && registerForm.get('name')?.touched)
    {<div >
      שם הוא שדה חובה.
    </div>}
  </div>
    <div class="form-group">
    <label>Email:</label>
    <input type="email" formControlName="email"  required>
    @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched)
    { <div >
       יש להזין אימייל תקין.
     </div>
   }
  </div>
  
  <div class="form-group">
    <label>Password:</label>
    <input type="password" formControlName="password"  required>
    @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched)
    { <div>
       יש להזין סיסמה.
     </div>
   }
  </div>
   <label for="role">תפקיד</label>
   <select id="role" formControlName="role">
     <option value="student">תלמיד</option>
     <option value="teacher">מורה</option>
     <option value="admin">מנהל</option>
   </select>
    <button type="submit" [disabled]="registerForm.invalid"  class="submit-btn">Add User</button>
  


